/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Bounce animation*/
@keyframes bounce {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.95); } }

/*Mobile first*/
@media screen and (min-width: 300px) {
  body {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    font-family: "Yeseva One", cursive; }
    body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;
      scrollbar-width: none; }
  /* arreglo de color default de Bootstrap */
  h1, h2, h3, td, th, p {
    color: #111; }
  .grid-container {
    display: grid;
    grid-row: auto;
    grid-column: auto;
    height: 100vh;
    /*navbar*/ }
    .grid-container main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .grid-container .navbar {
      text-align: center;
      font-size: .3rem;
      font-size: 1.5rem;
      background-color: #1a1a1a !important; }
      .grid-container .navbar div ul li a {
        color: #9a9a9a; }
        .grid-container .navbar div ul li a:hover {
          text-shadow: 0 0 7px #f00; }
      .grid-container .navbar .navbar-brand img {
        filter: drop-shadow(0 0 5px #f00);
        width: 2.2rem; }
      .grid-container .navbar .navbar-toggler {
        border: none; }
        .grid-container .navbar .navbar-toggler:focus, .grid-container .navbar .navbar-toggler:active, .grid-container .navbar .navbar-toggler .navbar-toggler-icon:focus {
          outline: none;
          box-shadow: none; }
        .grid-container .navbar .navbar-toggler:active {
          transform: scale(0.9); }
      .grid-container .navbar .navbar-collapse .navbar-nav .nav-item .active {
        color: #f00;
        text-shadow: 0 2px 7px #000; }
    .grid-container div h1 {
      font-family: "MonteCarlo", cursive;
      margin-top: 4rem;
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 2px 5px #1a1a1a; }
    .grid-container a {
      text-decoration: none;
      color: #111; }
    .grid-container .goUp img {
      z-index: 100;
      width: 6%;
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      opacity: .9; }
      .grid-container .goUp img:active {
        transform: scale(0.9); }
    .grid-container footer p {
      font-size: .8rem;
      color: #111;
      display: block;
      text-align: center; }
    .grid-container .indice {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 3rem;
      padding: 1rem;
      background-color: #1112;
      text-shadow: 0 1px 4px #1a1a1a; }
      .grid-container .indice h2 {
        font-size: 2.3rem; }
      .grid-container .indice ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 7px; }
        .grid-container .indice ul li {
          font-size: 1.5rem;
          margin-bottom: 1rem; }
          .grid-container .indice ul li a:hover {
            color: #111;
            opacity: .8; }
          .grid-container .indice ul li a img {
            width: 2rem;
            filter: drop-shadow(0 0 4px #1a1a1a) brightness(5%); }
    .grid-container .banner {
      z-index: 90;
      position: sticky;
      display: flex;
      align-items: center;
      gap: 1rem;
      top: 59px;
      background-color: #1a1a1a;
      color: #eee;
      padding: 5px;
      box-shadow: 0 1px 5px #1a1a1a;
      width: 100%; }
      .grid-container .banner h2 {
        font-size: 1.6rem;
        text-shadow: 0 1px 4px #fff2;
        color: #eee; }
      .grid-container .banner img {
        width: 2rem;
        filter: invert(1);
        margin: 4px; }
      .grid-container .banner .dropdown-menu-dark {
        z-index: 90;
        background-color: #1a1a1a; }
        .grid-container .banner .dropdown-menu-dark .dropdown-item {
          color: #eee;
          z-index: 101; }
      .grid-container .banner .nav-link {
        font-size: 2rem;
        color: #eee; }
        .grid-container .banner .nav-link:focus {
          color: #f00; }
    .grid-container .separador {
      margin-top: 5rem;
      margin-bottom: 5rem; }
      .grid-container .separador span {
        display: block;
        margin: 0 auto;
        height: 1px;
        width: 40%;
        background-color: #1a1a1a; }
    .grid-container .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      padding: 1rem; }
      .grid-container .info h2 {
        font-size: 2rem;
        text-shadow: 0 1px 5px #1a1a1a; }
      .grid-container .info h3 {
        font-size: 1.8rem;
        text-shadow: 0 1px 5px #1a1a1a; }
      .grid-container .info p {
        color: #111;
        text-shadow: 0 1px 5px #1a1a1a; }
        .grid-container .info p::first-letter {
          font-size: 2em; }
  /*Home*/
  main .tituloHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50%; }
    main .tituloHome h1 {
      font-weight: bold;
      text-shadow: 0 2px 7px #000;
      font-size: 5rem; }
    main .tituloHome h2 {
      font-family: "MonteCarlo", cursive;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 4px #1a1a1a;
      padding: 20px; }
    main .tituloHome img {
      width: 50%;
      filter: drop-shadow(0 0 25px #000);
      animation-name: bounce;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse; }
  /*Personajes*/
  main .personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem; }
    main .personaje .info-pj img {
      z-index: 50;
      width: 50%;
      margin-bottom: 2rem; }
    main .personaje .info-pj p {
      font-size: 1.2rem; }
  main .indice-pj {
    margin-bottom: 2rem; }
  /*Historia*/
  main .indice__historia li {
    font-size: .5rem;
    text-align: left; }
  main .info__his {
    margin-top: 4rem; }
    main .info__his p {
      font-size: 1.2rem; }
  main .map img {
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  /*Alquimia*/
  .grid-container .indice__alquimia img {
    width: 2rem;
    margin: 7px;
    filter: drop-shadow(0 0 7px #1a1a1a); }
  .grid-container .info__recetas {
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 5px #1a1a1a; }
  .grid-container .alquimia__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 1rem;
    width: 100%; }
    .grid-container .alquimia__container .alquimia__table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px;
      background-color: #1112;
      text-shadow: 0 1px 3px #111d; }
      .grid-container .alquimia__container .alquimia__table h2 {
        font-size: 1.8rem; }
      .grid-container .alquimia__container .alquimia__table table {
        font-size: 1.2rem;
        width: 100%; }
        .grid-container .alquimia__container .alquimia__table table tr:nth-child(even) {
          background-color: #fff2; }
        .grid-container .alquimia__container .alquimia__table table tr td, .grid-container .alquimia__container .alquimia__table table tr th {
          padding: 7px;
          text-align: center; }
  .grid-container section .info__alquimia {
    font-size: 1.2rem;
    margin-top: 200px;
    margin-bottom: 200px; }
    .grid-container section .info__alquimia span {
      display: block;
      font-weight: bold;
      font-style: italic;
      margin-top: 1rem; }
      .grid-container section .info__alquimia span img {
        width: 2rem; }
  /*Besriario*/
  main .carousel .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 400px; }
  footer .footer-bestiario {
    position: relative;
    margin-top: 6rem; } }

/*Desktop*/
@media screen and (min-width: 1024px) {
  .grid-container .navbar .navbar-collapse {
    justify-content: center; }
    .grid-container .navbar .navbar-collapse ul .nav-item {
      margin-right: 2rem; }
  .grid-container div h1 {
    font-size: 9rem; }
  .grid-container .indice {
    background-color: unset;
    width: fit-content;
    padding: 1rem;
    text-shadow: 0 1px 4px #1a1a1a; }
    .grid-container .indice ul li:hover {
      transform: scale(1.1); }
  .grid-container .goUp img {
    width: 2.5rem;
    transition: all .2s; }
    .grid-container .goUp img:hover {
      opacity: .7; }
  .grid-container .banner h2 {
    font-size: 1.9rem; }
  .grid-container .info {
    padding: 3rem; }
  .grid-container footer p {
    font-size: 1rem; }
  main .tituloHome img {
    width: 25%;
    align-self: flex-end;
    margin: 2rem; }
  .grid-container .personaje .info-pj {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-areas: "h2 h2" "p img";
    align-items: center;
    justify-items: center;
    padding: 2rem; }
    .grid-container .personaje .info-pj h2 {
      grid-area: h2;
      justify-self: start;
      margin-left: 2rem; }
    .grid-container .personaje .info-pj p {
      grid-area: p;
      font-size: 1.4rem;
      padding: 2rem; }
    .grid-container .personaje .info-pj img {
      grid-area: img;
      width: 70%;
      filter: drop-shadow(0 0 5px #1a1a1a); }
  main .info__his p {
    padding: 3rem;
    font-size: 1.5rem; }
  main .map {
    position: relative;
    text-align: center;
    margin-bottom: 3rem; }
    main .map img {
      width: 100vw;
      filter: drop-shadow(0 0 15px #000); }
  .grid-container .indice__alquimia {
    margin-top: 7rem; }
    .grid-container .indice__alquimia li {
      text-align: left; }
  .grid-container .info__recetas {
    padding: 4rem;
    font-size: 1.3rem; }
  .grid-container .alquimia__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    .grid-container .alquimia__container .alquimia__table {
      width: 650px;
      margin-bottom: 3rem; }
  .grid-container section .info__alquimia {
    margin-bottom: 120px; }
    .grid-container section .info__alquimia p {
      width: 60%; }
  .carousel {
    margin-top: 2rem;
    display: flex;
    gap: 5rem; }
  .carousel-inner {
    filter: drop-shadow(0 0 15px #000);
    margin-left: 10rem;
    margin-right: 10rem; } }
