/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Bounce animation*/
@keyframes bounce {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.95); } }

/*Mobile first*/
@media screen and (min-width: 300px) {
  body {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: "Yeseva One", cursive; }
    body::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;
      scrollbar-width: none; }
  /* arreglo de color default de Bootstrap */
  h1, h2, h3, td, .grid-container .alquimia__container .alquimia__table table tr th, th, p {
    color: #111; }
  .grid-container {
    display: grid;
    grid-row: auto;
    grid-column: auto;
    height: 100vh;
    z-index: 1;
    /*navbar*/ }
    .grid-container main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .grid-container .navbar {
      text-align: center;
      font-size: .3rem;
      font-size: 1.5rem;
      background-color: #1a1a1a !important; }
      .grid-container .navbar .navbar-collapse ul li a {
        color: #bbb; }
        .grid-container .navbar .navbar-collapse ul li a:hover {
          text-shadow: 0 0 7px #f00; }
      .grid-container .navbar .navbar-collapse ul li #about-img {
        display: none; }
      .grid-container .navbar .navbar-brand img {
        filter: drop-shadow(0 0 4px #f00);
        width: 2.2rem; }
      .grid-container .navbar .navbar-toggler {
        border: none; }
        .grid-container .navbar .navbar-toggler:focus, .grid-container .navbar .navbar-toggler:active, .grid-container .navbar .navbar-toggler .navbar-toggler-icon:focus {
          outline: none;
          box-shadow: none; }
        .grid-container .navbar .navbar-toggler:active {
          transform: scale(0.9); }
      .grid-container .navbar .navbar-collapse .navbar-nav .nav-item .active {
        color: #f00;
        text-shadow: 0 2px 7px #000; }
    .grid-container div h1 {
      font-family: "MonteCarlo", cursive;
      margin-top: 4rem;
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 2px 5px #1a1a1a; }
    .grid-container .goUp img {
      z-index: 100;
      width: 6%;
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      opacity: .9;
      filter: drop-shadow(0 0 5px #111); }
      .grid-container .goUp img:active {
        transform: scale(0.9); }
    .grid-container footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem; }
      .grid-container footer p {
        font-size: .8rem;
        color: #111;
        text-align: center; }
      .grid-container footer p::after {
        content: "2022 - Arrystagram 1.4.1"; }
      .grid-container footer div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem; }
        .grid-container footer div a img {
          width: 20px; }
          .grid-container footer div a img:hover {
            filter: drop-shadow(0 0 2px #000);
            transform: scale(1.3);
            transition: .2s; }
    .grid-container .indice {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 3rem;
      padding: 1rem;
      background-color: #1112;
      text-shadow: 0 1px 4px #1a1a1a; }
      .grid-container .indice a {
        color: #1a1a1a;
        text-decoration: none; }
      .grid-container .indice h2 {
        font-size: 2.3rem; }
      .grid-container .indice ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
        list-style: none;
        padding: 7px; }
        .grid-container .indice ul li {
          font-size: 1.5rem;
          margin-bottom: 1rem; }
          .grid-container .indice ul li a img {
            width: 2rem;
            filter: drop-shadow(0 0 4px #1a1a1a) brightness(0%); }
    .grid-container .banner {
      z-index: 90;
      position: sticky;
      display: flex;
      align-items: center;
      gap: 1rem;
      top: 59px;
      background-color: #1a1a1a;
      color: #eee;
      padding: 5px;
      box-shadow: 0 1px 10px #000;
      width: 100vw; }
      .grid-container .banner h2 {
        font-size: 1.4rem;
        text-shadow: 0 1px 4px #fff2;
        color: #eee; }
      .grid-container .banner img {
        width: 1.4rem;
        filter: invert(1);
        margin: 4px; }
      .grid-container .banner .dropdown-menu-dark {
        z-index: 90;
        background-color: #1a1a1a; }
        .grid-container .banner .dropdown-menu-dark li .dropdown-item {
          color: #eee;
          z-index: 101; }
          .grid-container .banner .dropdown-menu-dark li .dropdown-item:active {
            background-color: #fff2; }
      .grid-container .banner .nav-link {
        font-size: 2rem;
        color: #eee; }
        .grid-container .banner .nav-link:focus {
          color: #f00; }
    .grid-container .separador {
      margin-top: 5rem;
      margin-bottom: 5rem; }
      .grid-container .separador span {
        display: block;
        margin: 0 auto;
        height: 1px;
        width: 40%;
        background-color: #1a1a1a; }
    .grid-container .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      text-align: center; }
      .grid-container .info h2 {
        font-size: 2rem;
        text-shadow: 0 1px 5px #1a1a1a; }
      .grid-container .info h3 {
        font-size: 1.8rem;
        text-shadow: 0 1px 5px #1a1a1a; }
      .grid-container .info p {
        color: #111;
        text-shadow: 0 1px 5px #1116;
        white-space: pre-line; }
        .grid-container .info p::first-letter {
          font-size: 2em; }
  /*Home*/
  main .tituloHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50%; }
    main .tituloHome h1 {
      font-weight: bold;
      text-shadow: 0 2px 7px #000;
      font-size: 5rem; }
    main .tituloHome h2 {
      font-family: "MonteCarlo", cursive;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 4px #1112;
      padding: 20px; }
    main .tituloHome img {
      display: none;
      width: 30%;
      filter: drop-shadow(0 0 25px #000);
      animation-name: bounce;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse; }
  main .quick-access {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    width: max-content;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    main .quick-access .quick-access__item {
      padding: 1rem;
      background-color: #1112;
      box-shadow: 0 0 15px #000;
      border-radius: 1rem; }
      main .quick-access .quick-access__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.2rem;
        color: #111;
        text-shadow: 0 1px 4px #1a1a1a;
        gap: 7px; }
        main .quick-access .quick-access__item a img {
          filter: grayscale(1) brightness(0%) drop-shadow(0 0 10px #1a1a1a);
          width: 3rem; }
      main .quick-access .quick-access__item:hover {
        box-shadow: inset 0 0 10px #000, 0 0 15px #000; }
      main .quick-access .quick-access__item:active > a {
        transform: scale(0.9); }
  /*Personajes*/
  .grid-container main .indice-pj {
    margin-bottom: 6rem; }
  .grid-container main .banner img {
    filter: grayscale(1) invert(1) brightness(100%); }
  .grid-container main .personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem; }
    .grid-container main .personaje .info-pj img {
      z-index: 50;
      width: 40%;
      margin-bottom: 2rem; }
    .grid-container main .personaje .info-pj p {
      font-size: 1.2rem; }
  /*Historia*/
  main .indice__historia h2 {
    margin-bottom: 2rem; }
  main .indice__historia ul li a {
    font-size: 1.3rem; }
    main .indice__historia ul li a img {
      width: 5rem; }
  main .info__his {
    margin-top: 4rem; }
    main .info__his p {
      font-size: 1.2rem;
      text-align: left; }
    main .info__his a {
      color: #111;
      font-weight: bold;
      text-decoration: underline; }
    main .info__his a:hover {
      text-shadow: 0 1px 5px #1a1a1a;
      text-decoration: none; }
  main .map img {
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  /*Alquimia*/
  .grid-container .indice__alquimia img {
    width: 2rem;
    margin: 7px;
    filter: drop-shadow(0 0 7px #1a1a1a); }
  .grid-container .info__recetas {
    font-size: 1.2rem;
    padding: 5px;
    text-align: center; }
  .grid-container .alquimia__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 3rem;
    width: 100%; }
    .grid-container .alquimia__container .alquimia__table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px;
      background-color: #1112;
      text-shadow: 0 1px 3px #111d; }
      .grid-container .alquimia__container .alquimia__table h2 {
        font-size: 1.8rem; }
      .grid-container .alquimia__container .alquimia__table table {
        font-size: 1.2rem;
        width: 100%; }
        .grid-container .alquimia__container .alquimia__table table tr:nth-child(even) {
          background-color: #fff2; }
        .grid-container .alquimia__container .alquimia__table table tr td, .grid-container .alquimia__container .alquimia__table table tr th {
          padding: 7px;
          text-align: center; }
          .grid-container .alquimia__container .alquimia__table table tr td img, .grid-container .alquimia__container .alquimia__table table tr th img {
            width: 20px;
            margin-left: 6px;
            filter: drop-shadow(0 0 5px #1a1a1a); }
  .grid-container section .info__alquimia {
    font-size: 1.2rem;
    margin-top: 200px;
    margin-bottom: 200px; }
    .grid-container section .info__alquimia span {
      display: block;
      font-weight: bold;
      font-style: italic;
      margin-top: 1rem; }
      .grid-container section .info__alquimia span img {
        width: 2rem; }
  /*Besriario*/
  main .carousel .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 400px; }
  footer .footer-bestiario {
    position: relative;
    margin-top: 6rem; } }

/*Desktop*/
@media screen and (min-width: 1000px) {
  .grid-container .navbar .navbar-collapse {
    justify-content: center; }
    .grid-container .navbar .navbar-collapse ul {
      gap: 2rem; }
      .grid-container .navbar .navbar-collapse ul li #about-text {
        display: none; }
      .grid-container .navbar .navbar-collapse ul li #about-img {
        display: inherit;
        align-self: center; }
        .grid-container .navbar .navbar-collapse ul li #about-img img {
          filter: invert(1);
          width: 27px;
          opacity: .6; }
          .grid-container .navbar .navbar-collapse ul li #about-img img:hover {
            filter: invert(1) drop-shadow(0 0 3px #f00); }
  .grid-container div h1 {
    font-size: 9rem; }
  .grid-container .indice {
    background-color: unset;
    width: fit-content;
    padding: 1rem;
    text-shadow: 0 1px 4px #1a1a1a; }
    .grid-container .indice ul li {
      transition: all .1s; }
      .grid-container .indice ul li:hover {
        transform: scale(1.1); }
  .grid-container .goUp img {
    width: 2.5rem; }
    .grid-container .goUp img:hover {
      transform: scale(1.1); }
    .grid-container .goUp img:active {
      transform: scale(1); }
  .grid-container .banner img {
    width: 2rem; }
  .grid-container .banner h2 {
    font-size: 1.9rem; }
  .grid-container .info {
    padding: 3rem;
    margin-bottom: 4rem; }
    .grid-container .info p {
      font-size: 1.5rem; }
  .grid-container footer p {
    font-size: 1rem; }
  main .tituloHome img {
    display: inherit;
    width: 20%;
    align-self: flex-end;
    margin: 2rem; }
  main .quick-access {
    display: none; }
  .grid-container main .indice-pj {
    margin-bottom: 30vh;
    margin-top: 7rem; }
    .grid-container main .indice-pj ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-items: flex-end;
      gap: 3rem; }
      .grid-container main .indice-pj ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem; }
        .grid-container main .indice-pj ul li a img {
          width: 7rem;
          transition: all .1s; }
          .grid-container main .indice-pj ul li a img:hover {
            filter: drop-shadow(0 0 10px #1a1a1a);
            transform: scale(1.1); }
        .grid-container main .indice-pj ul li a .agrandar-imagen {
          width: 8rem; }
  .grid-container main .container-personajes .personaje .info-pj {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-areas: "h2 h2" "p img";
    align-items: center;
    justify-items: center;
    padding: 2rem; }
    .grid-container main .container-personajes .personaje .info-pj h2 {
      grid-area: h2;
      justify-self: start; }
    .grid-container main .container-personajes .personaje .info-pj p {
      grid-area: p;
      font-size: 1.4rem;
      padding: 2rem; }
    .grid-container main .container-personajes .personaje .info-pj img {
      grid-area: img;
      width: 70%;
      filter: drop-shadow(0 0 5px #1a1a1a); }
  .grid-container main .container-personajes .personaje:nth-child(even) .info-pj {
    grid-template-areas: "h2 h2" "img p"; }
  main .indice__historia li a {
    font-size: 1.5rem; }
    main .indice__historia li a img {
      margin-right: 1rem; }
  main .info__his {
    background-color: #fff2; }
    main .info__his p {
      padding: 3rem;
      font-size: 1.5rem; }
  main .map {
    position: relative;
    text-align: center;
    margin-bottom: 3rem; }
    main .map img {
      width: 100vw;
      filter: drop-shadow(0 0 15px #000); }
  .grid-container .indice__alquimia ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 3rem; }
    .grid-container .indice__alquimia ul li {
      padding: 2rem;
      background-color: #1112;
      box-shadow: 0 0 10px #1119;
      width: 250px; }
      .grid-container .indice__alquimia ul li:hover {
        transition: .3s;
        box-shadow: 0 0 10px #1a1a1a; }
        .grid-container .indice__alquimia ul li:hover img {
          filter: drop-shadow(0 0 10px #000); }
      .grid-container .indice__alquimia ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .grid-container .indice__alquimia ul li a img {
          width: 3rem; }
  .grid-container .info__recetas {
    padding: 4rem;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 2rem; }
  .grid-container .alquimia__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    .grid-container .alquimia__container .alquimia__table {
      width: 650px;
      margin-bottom: 3rem;
      box-shadow: 0 0 15px #1a1a1a; }
  .grid-container section .info__alquimia {
    background-color: #fff2;
    margin-bottom: 120px; }
    .grid-container section .info__alquimia p {
      width: 60%; }
  .carousel {
    margin-top: 2rem;
    display: flex;
    gap: 5rem; }
  .carousel-inner {
    filter: drop-shadow(0 0 15px #000);
    margin-left: 10rem;
    margin-right: 10rem; } }
