//ACERCA DE
@import "../../utilities/mixin";
@import "../../utilities/variables";

.grid-container{
    main{
        h1{
            font-size: 3rem;
        }

        section{
            .contacto{
                form{
                    @include flex-column;
                    background-color:$color-transparency-light;
                    margin-bottom: 3rem;
                    width: 100vw;
                    gap: 1rem;
                    
                    img{
                        filter: drop-shadow(0 0 7px $color-dark);
                    }

                    input{
                        width: 70%;
                        height: 40px;
                        background-color: $color-dark;
                        color: $font-color-light;
                        font-size: 1rem;
                        transition: all .2s;
                        
                        &:focus{
                            box-shadow: 0 5px 10px $color-black;
                            // outline: 2px solid red;
                            
                        }

                        //para mantener estilos en autocompletado
                        &:-webkit-autofill{
                            -webkit-text-fill-color: $font-color-light;
                            -webkit-box-shadow:0 0 0 50px $color-dark inset;
                        }
                        
                    }

                    textarea{
                        @extend input;
                        resize: none;
                        height: 100px;

                        &::-webkit-scrollbar{
                            width: 7px;
                        }
                        &::-webkit-scrollbar-track {
                            background: $color-dark;
                            border-radius: 1rem;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $font-color-light;
                            border-radius: 1rem;
                        }
                    }

                    .submit-btn{
                        background-color: $font-color-dark;
                        color: $color-red;
                        box-shadow: inset 0 0 20px 10px $color-black,
                        0 0 15px $color-black;
                        
                        &:hover{
                            background-color: $color-dark;
                            color: $font-color-light;
                            box-shadow: inset 0 0 10px 5px $color-black,
                                         0 0 15px $color-black;
                        }
                    }
                }
            }

            .tecnologias{
                @include flex-row;
                gap: 2rem;
                margin: 2rem;
                img{
                    width: 2rem;
                    filter: drop-shadow(0 0 3px $color-dark);
                }
            }
        }
    }
}
