// ESTILOS GLOBALES

@import "../../utilities/variables";
@import "../../utilities/mixin";


body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: $font-secondary;

    // /* ocultar scrollbar */
    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}



/* arreglo de color default de Bootstrap */
h1, h2, h3, td, th, p{
    color: $font-color-dark;
}

.grid-container{
    display: grid;
    grid-row: auto;
    grid-column: auto;
    height: 100vh;
    z-index: 1;
    // /*estilos de main*/
    main{
        @include flex-column;  
    }

    /*navbar*/
    .navbar{
        
        text-align: center;
        font-size: .3rem;
        font-size: 1.5rem;
        background-color: $color-dark !important;

        .navbar-collapse{
            ul{
                li{
                    border-bottom:  1px solid $color-transparency-light;
                    a{
                        color: #bbb;

                        &:hover{
                            text-shadow: 0 0 7px $color-red;
                        }
                    }

                    #about-img{
                        display: none;
                    }
                }
            }
        }
        //logo
        .navbar-brand img{
            width: 2.2rem;
            filter: drop-shadow(0 0 5px $color-black);
        }

        .navbar-toggler{
            border:none;

            &:focus{   
                @include no-border;
            }

            &:active{
                @extend .navbar-toggler:focus;
                transform: scale(.9);

            }

            .navbar-toggler-icon:focus{
                @extend .navbar-toggler:focus;
            }
        }

        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .active{
                        color: $color-red;
                        text-shadow: 0 2px 7px $color-black;
                    }
                }
            }
        }
    }

    // /*estilo de titulos*/
    div{
        h1{
            font-family: $font-primary;
            margin-top: 4rem;
            font-size: 6rem;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 2px 5px $color-dark;
        }
    }

    .goUp{
        img{
            z-index: 100;
            width: 6%;
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            opacity: .9;
            filter: drop-shadow(0 0 5px $font-color-dark) ;

            &:active{
                transform: scale(.9);
            }
        }
    }



    // /*estilos de footer*/

    footer{
        @include flex-column;
        padding-bottom: 2rem;
        
        p{            
            font-size: .8rem;
            color: $font-color-dark;
            text-align: center;
        }

        //para actualizar footer desde _variables
        p::after{
            content: $footer-content;
        }

        div{
            @include flex-row;
            gap: 1rem;
            
            a{
                img{
                    width: 25px;

                    &:hover{
                        transform: scale(1.1);
                        transition: .1s;
                    }
                }
            }
        }
    }

    //estilos de indice
    .indice{
        @include flex-column;
        width: 100%;
        margin-top: 3rem;
        padding: 1rem;
        background-color: $color-transparency-dark;
        text-shadow: 0 1px 4px $color-dark;

        a{
            color: $color-dark;
            text-decoration: none;
        }
        
        h2{
            font-size: 2.3rem;
        }

        ul{
            @include flex-column;
            align-items: flex-start;
            list-style: none;
            padding: 7px;
            li{
                font-size: 1.5rem;
                margin-bottom: 1rem;                  
                a{
                    img{
                        width: 2rem;
                        filter: drop-shadow(0 0 4px $color-dark) brightness(0%);
                
                    }
                }
            }
        }
    }


    //estilos de banner
    .banner{
        z-index: 90;
        position: sticky;
        @include flex-row;
        justify-content:flex-start;
        gap: 1rem;
        top: 59px;
        background-color: $color-dark;
        color: #eee;
        padding: 5px;
        box-shadow: 0 1px 10px $color-black;
        width: 100vw;
        
        h2{
            font-size: 1.4rem;
            text-shadow: 0 1px 4px $color-transparency-light;
            color: $font-color-light;
        }

        img{
            width: 1.4rem;
            filter: invert(1);
            
            margin: 4px;        
        }

        .dropdown-menu-dark{
            z-index: 90;
            background-color: $color-dark;

            li{ 
                .dropdown-item{
                    color: $font-color-light;
                    z-index: 101;
                    
                    &:active{
                        background-color: $color-transparency-light;
                        
                    }
                }
            }
        }

        .nav-link{
            font-size: 2rem;
            color: $font-color-light;
            &:focus{
                color: $color-red;
            }
        }
    }

    //separador
    .separador{
        margin-top: 5rem;
        margin-bottom: 5rem;

        span{
            display: block;
            margin: 0 auto;
            height: 1px;
            width: 40%;
            background-color: $color-dark;
        }
    }

    //info cards

    .info{
        @include flex-column;
        padding: 1rem;
        text-align: center;

        h2{
            font-size: 2rem;
            text-shadow: 0 1px 5px $color-dark;
        }

        h3{
            font-size: 1.8rem;
            text-shadow: 0 1px 5px $color-dark;
        }
        
        p{
            color: $font-color-dark;
            font-size: 1.2rem;
            text-shadow: 0 1px 5px $font-light-shadow;
            white-space: pre-line;

            &::first-letter{
                font-size: 2em;            
            }
        }
    }
}
