//HISTORIA
/*Historia*/

@import "../../utilities/variables";
@import "../../utilities/mixin";

main{
    .indice__historia{

        h2{
            margin-bottom: 2rem;
        }

        ul{
            li{
                a{
                    font-size: 1.3rem;
    
                    img{
                        width: 5rem;
                    }
                }  
            }
        }
    }

    .info__his{
        margin-top: 4rem;

        p{
            text-align: left;
            
        }

        a{
            color: $font-color-dark;
            font-weight: bold;
            text-decoration: underline;
        }

        a:hover{
            text-shadow: 0 1px 5px $color-dark;
            text-decoration: none;
        }
    }

    .map{
        img{
            width: 100vw;
            margin-top: 1rem;
            margin-bottom: 1rem;    
        }
    }
}