//HOME
/*Home*/

@import "../../utilities/variables";
@import "../../utilities/mixin";

main {
    .tituloHome{
        @include flex-column;
        gap: 50%;

        h1{
            font-weight: bold;
            text-shadow: 0 2px 7px $color-black;
            font-size: 5rem;        
        }

        h2{
            font-family: $font-primary;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 1px 4px $color-dark;
            padding: 20px;
        }

        img{
            width: 50%;
            filter: drop-shadow(0 0 25px #000);
            @include animation-bounce;   
        }
    }
}


