//HOME
/*Home*/

@import "../../utilities/variables";
@import "../../utilities/mixin";

main {
    .tituloHome{
        @include flex-column;
        gap: 50%;

        h1{
            font-weight: bold;
            text-shadow: 0 2px 7px $color-black;
            font-size: 5rem;        
        }

        h2{
            font-family: $font-primary;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 1px 4px $color-transparency-dark;
            padding: 20px;
        }

        img{
            display: none;
            width: 30%;
            filter: drop-shadow(0 0 25px #000);
            @include animation-bounce;   
        }
    }

    .quick-access{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
        gap: 2rem;
        width: max-content;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .quick-access__item{
            padding: 1rem;
            background-color: $color-transparency-dark;
            box-shadow: 0 0 15px $color-black;
            border-radius: 1rem;
            a{
                @include flex-column;
                text-decoration: none;
                font-size: 1.2rem;
                color: $font-color-dark;
                text-shadow: 0 1px 4px $color-dark;
                img{
                    filter: grayscale(1) brightness(0%) drop-shadow(0 0 10px $color-dark);
                    width: 4rem;
                }
            }
            
            &:hover{
                box-shadow: inset 0 0 10px $color-black, 0 0 15px $color-black;
            }

            &:active > a{
                transform: scale(.9);
            }
        }
    }
}


