// PERSONAJES
/*Personajes*/

@import "../../utilities/variables";
@import "../../utilities/mixin";

.grid-container{
    main{

        .indice-pj{
            margin-bottom: 6rem;
        }

        .banner{
            img{
                filter: grayscale(1) invert(1) brightness(100%);
            }
        }

        .personaje{
            @include flex-column;
            gap: 4rem;
        
            .info-pj{
                img{
                    z-index: 50;
                    width: 50%;
                    margin-bottom: 2rem;    
                }
    
                p{
                    font-size: 1.2rem;
                }
            }
        }
    
       
    }
}

