//ACERCA DE
@import "../../utilities/mixin";
@import "../../utilities/variables";


.grid-container{
    main{

        .titulo-acerca{
            h1{
                font-size: 6rem;
            }
        }

        section{
            .contacto{
                form{                   
                    input{
                        width: 40%;
                    }
                    button{
                        align-self: center;
                    }
                }
            }
        }

        .info-acerca{
            .tecnologias{
                gap: 2rem;
                a{
                    img{
                        width: 4rem;
                    }
                }
            }
        }

    }
}
