//ACERCA DE
@import "../../utilities/mixin";
@import "../../utilities/variables";


.grid-container{
    main{

        .titulo-acerca{
            h1{
                font-size: 6rem;
            }
        }

        section{
            .contacto{
                form{
                    input{
                        width: 50%;
                    }
                }
            }
        }

        .info-acerca{
            .tecnologias{
                img{
                    width: 4rem;
                }
            }
        }
    }
}
