//ALQUIMIA
@import "../../utilities/variables";
@import "../../utilities/mixin";

.grid-container{
    .indice__alquimia{
        // margin-top: 7rem;
    }

    .info__recetas{
        padding: 4rem;
        font-size: 1.3rem;
    }
    
    .alquimia__container{
        @include flex-row;
        gap: 5rem;
    
        .alquimia__table{
            width: 650px;
            margin-bottom: 3rem;
        }
    }
    
    section{ 
        .info__alquimia{
            margin-bottom: 120px;
        
            p{
                width: 60%;
            }
        }
    }
}