//BESTIARIO
@import "../../utilities/variables";
@import "../../utilities/mixin";

.carousel{
    @include flex-column;
    margin-top: 2rem;
    gap: 5rem;

    .carousel-inner{
        filter: drop-shadow(0 0 15px #000);
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

