//HOME
@import "../../utilities/variables";
@import "../../utilities/mixin";

main{
    .tituloHome{
        img{
            display: inherit;
            width: 20%;
            align-self: flex-end;
            margin: 2rem;    
        }
    }

    .quick-access{
        display: none;
    }
}