//PERSONAJES
@import "../../utilities/variables";
@import "../../utilities/mixin";

.grid-container{
    .personaje{
        .info-pj{
            display: grid;
            grid-column: auto;
            grid-row: auto;
            grid-template-areas:
            "h2 h2"
            "p img";
            align-items: center;
            justify-items: center;
            padding: 2rem;

            h2{
                grid-area: h2;
                justify-self: start;
                margin-left: 2rem;
        
            }

            p{
                grid-area: p;
                font-size: 1.4rem;
                padding: 2rem;
        
            }

            img{
                grid-area: img;
                width: 70%;
                filter: drop-shadow(0 0 5px $color-dark);
        
            }

        }
    }
}